.bInputtags{
    cursor:text;
    height: inherit;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;}
    .bInputtags:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);}
    .bInputtags::-moz-placeholder {
        color: #999999;
        opacity: 1;}
    .bInputtags:-ms-input-placeholder {
        color: #999999;}
    .bInputtags::-webkit-input-placeholder {
        color: #999999;}
    .bInputtags[disabled],
    .bInputtags[readonly],
    fieldset[disabled] .bInputtags {
        background-color: #eeeeee;
        opacity: 1;}
    .bInputtags[disabled],
    fieldset[disabled] .bInputtags {
        cursor: not-allowed;}

    .bInputtags__tag{
        margin-right: 5px;
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: bold;
        background-color: #777;
        padding: .2em .6em .3em;
        font-size: 75%;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;}
        .bInputtags__tagRemover{
            margin-left: 5px;
            cursor: pointer;}

    .bInputtags__tagCursor{
        border: none;}
        .bInputtags__tagCursor:focus{
            outline: 0;}

    .bInputtags__sourceList{
        position: absolute;
        z-index: 99;
        padding-left: 0;
        margin-bottom: 20px;}
        .bInputtags__sourceItem{
            position: relative;
            display: block;
            padding: 10px 15px;
            margin-bottom: -1px;
            background-color: #fff;
            border: 1px solid #ddd;}
            .bInputtags__sourceItem:hover {
                color: #555;
                text-decoration: none;
                background-color: #f5f5f5;}
            .bInputtags__sourceItem:first-child {
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;}
            .bInputtags__sourceItem:last-child {
                margin-bottom: 0;
                border-bottom-right-radius: 4px;
                border-bottom-left-radius: 4px;}